{% extends "layout.html" %}

{% block title %}
    Names
{% endblock %}

{% block content %}
<h1 class="bg-blue-950 text-3xl">Django Playground | This is All Names Page</h1>

<div class="grid grid-cols-3 gap-4 m-4">

{% for data in names  %}
    <div class="bg-blue-700 p-5">
        <img class="rounded shadow" src="{{data.image.url}}" alt="image">
        <h3 class="text-2xl font-bold">{{data.name}}</h3>        
        
        <a href="{% url "name_detail" data.id %}">
            <button
            type="button" 
            class="inline-flex items-center w-[100%] justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"           
            >
                {{data.type}} - {{data.id}}
            </button>
        </a>
    </div>
{% endfor %}

</div>

{% endblock %}